<div class="container">
  <h2>Request Header Parser Microservice Result</h2>
  <p>
    <code>{"ipaddress":"{{ipaddress}}","language":"{{language}}",<br
      />"software":"{{software}}"}</code>
  </p>
</div>